ul.breadcrumb {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  font-size: 0.9rem;
  padding: 0;
  margin-bottom: 0.25rem;

  li + li:before {
    content: "\003E";
    padding: 0 0.25rem;
  }

  li {
    padding-right: 0.25rem;
    a:hover {
      text-decoration: underline !important;
    }
  }
}
