/* 
    .heading-1
    .heading-2
    .heading-3
        __
    .card
    .image 
    .size-200
    .size-300
    .size-400
        __
    .code-block
    .code-inline
        __
    .heading-1
    .heading-2
    .heading-3
*/
/* card */
.card {
  img {
    width: 100%;
  }
  width: 100%;
  background-color: #ffffff;
  color: #0a0a0a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: default;
  //   display: table-cell;
  margin-bottom: 1.75rem;
  border-radius: 0.25rem;
  img {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  &-content {
    padding: 1rem;
    .card-title {
      font-size: 1.75rem;
      margin: 0.15rem;
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
/* [ .image, .circle, .thumbnail-image .size-200, .size-300, .size-400 ] */
.image {
  max-width: 100%;
  height: auto;
  margin: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.circle {
  border-radius: 50%;
}

.thumbnail-image {
  padding: 3px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  &:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}

.size-200 {
  width: 200px;
  height: 200px;
}
.size-300 {
  width: 300px;
  height: 300px;
}
.size-400 {
  width: 400px;
  height: 400px;
}

/********************************* code ************************************/
.code-block {
  position: relative;
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
  background-color: hsl(210, 14.3%, 93.3%);
  border-radius: 4px;
  padding: 1.25rem;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
}

.code-inline {
  padding: 4px 6px;
  font-family: "Source Code Pro", monospace;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}
/********************************* headings ************************************/
[class*="heading-"] {
  font-weight: 400;
}
.heading-1 {
  font-size: 4.5rem;
}
.heading-2 {
  font-size: 3.5rem;
}
.heading-3 {
  font-size: 3rem;
}

/********************************* table ************************************/
.table {
  font-family: sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  thead tr {
    border-bottom: 2px solid #dddddd;
    text-align: left;
  }
  thead.thead-dark tr {
    background-color: #0a0a0a;
    color: #f3f3f3;
  }
  th {
    font-weight: bold;
  }
  td,
  th {
    padding: 0.75rem;
  }
  td {
    border: 1px solid #e1e1e1;
  }
}

.table.bar {
  tr:nth-child(even) {
    border-top: 1px solid #d4d1d1;
    background-color: #f2f2f2;
  }
  td {
    border: none;
  }
}
/************************* VIN (Very Important Note) ******************************/
/* vin identical to jumbotron */
.vin {
  padding: 3rem;
  background-color: $blue-light;
  border-radius: 7px;
  font-size: 110%;
}

@media screen and (max-width: 576px) {
  .vin {
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .vin {
    padding: 4rem;
  }
}
/************************* alert (Very Important Note) ******************************/
.message {
  position: relative;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin: 1rem 0;
  color: #384e38;
  font-weight: 300;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #384e389d;
    cursor: pointer;
    &:hover {
      color: #384e38fa;
    }
  }
}

.message-success {
  background-color: #d3eda3c0;
  border: 1px solid #76c97693;
}
.message-danger {
  background-color: #f5ab9e8a;
  border: 1px solid #c7807341;
}
.message-warning {
  background-color: rgba(245, 238, 141, 0.719);
  border: 1px solid rgba(189, 183, 100, 0.794);
}
.message-default {
  background-color: $blue-light;
  border: 1px solid #cec8c8c9;
}
.message-primary {
  background-color: #1f8dd61f;
  border: 1px solid #cec8c878;
}
